/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SpeakeasyCore } from "../core.js";
import { readableStreamToArrayBuffer } from "../lib/files.js";
import * as M from "../lib/matchers.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../sdk/models/errors/httpclienterrors.js";
import { SDKError } from "../sdk/models/errors/sdkerror.js";
import { SDKValidationError } from "../sdk/models/errors/sdkvalidationerror.js";
import * as operations from "../sdk/models/operations/index.js";
import * as shared from "../sdk/models/shared/index.js";
import { isBlobLike } from "../sdk/types/blobs.js";
import { Result } from "../sdk/types/fp.js";
import { isReadableStream } from "../sdk/types/streams.js";

/**
 * Initiate asynchronous Code Sample preview generation from a file and configuration parameters, receiving an async JobID response for polling.
 *
 * @remarks
 * This endpoint generates Code Sample previews from a file and configuration parameters, receiving an async JobID response for polling.
 */
export async function codeSamplesGenerateCodeSamplePreviewAsync(
  client: SpeakeasyCore,
  request: shared.CodeSampleSchemaInput,
  options?: RequestOptions,
): Promise<
  Result<
    operations.GenerateCodeSamplePreviewAsyncResponse,
    | SDKError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  const parsed = safeParse(
    request,
    (value) => shared.CodeSampleSchemaInput$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return parsed;
  }
  const payload = parsed.value;
  const body = new FormData();

  body.append("languages", String(payload.languages));
  if (isBlobLike(payload.schema_file)) {
    body.append("schema_file", payload.schema_file);
  } else if (isReadableStream(payload.schema_file.content)) {
    const buffer = await readableStreamToArrayBuffer(
      payload.schema_file.content,
    );
    const blob = new Blob([buffer], { type: "application/octet-stream" });
    body.append("schema_file", blob);
  } else {
    body.append(
      "schema_file",
      new Blob([payload.schema_file.content], {
        type: "application/octet-stream",
      }),
      payload.schema_file.fileName,
    );
  }
  if (payload.package_name !== undefined) {
    body.append("package_name", payload.package_name);
  }
  if (payload.sdk_class_name !== undefined) {
    body.append("sdk_class_name", payload.sdk_class_name);
  }

  const path = pathToFunc("/v1/code_sample/preview/async")();

  const headers = new Headers({
    Accept: "application/json",
  });

  const securityInput = await extractSecurity(client._options.security);
  const context = {
    operationID: "generateCodeSamplePreviewAsync",
    oAuth2Scopes: [],
    securitySource: client._options.security,
  };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    path: path,
    headers: headers,
    body: body,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return requestRes;
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [],
    retryConfig: options?.retries
      || client._options.retryConfig,
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  });
  if (!doResult.ok) {
    return doResult;
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.GenerateCodeSamplePreviewAsyncResponse,
    | SDKError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(
      202,
      operations.GenerateCodeSamplePreviewAsyncResponse$inboundSchema,
    ),
    M.json(
      ["4XX", "5XX"],
      operations.GenerateCodeSamplePreviewAsyncResponse$inboundSchema,
    ),
  )(response);
  if (!result.ok) {
    return result;
  }

  return result;
}
